@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/*******************/
/* GENERAL         */
/*******************/
* {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


body {
    font-family: 'Julius Sans One', sans-serif;
}

/* main {
    scroll-snap-type: y mandatory;
} */

section {
    scroll-snap-align: start;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: #fff;
}

.hidden {
    display: none;
}




/*******************/
/* HEADER & NAVIGATION */
/*******************/
header {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    transition: .3s ease-out;   
}

.logo img {
    position: fixed;
    height: 300px;
    left: calc(50% - 231px);
    transition: .5s ease-in-out;
    top: 100px;
}

.logo-small img {
    height: 100px;
    left: 10px;
    top: 0;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav a {
    padding: 5px 15px;
}

nav .overlay {
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    transition: .3s ease left, width, opacity;
}

nav .overlay.active {
    opacity: 1;

}

/*******************/
/* MAIN            */
/*******************/

.hero-overlay {
    position: sticky;
    width: 100%;
    height: 100vh;
    margin-bottom: -100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero-heading {
    opacity: 0;
    margin-left: 100px;
    transition: opacity .7s ease, margin-left .4s ease-in;
}
.hero-heading.animation-heading {
    opacity: 1;
    margin-left: 0;
}

.hero-heading.animation-heading {
    opacity: 1;
    margin-left: 0;
}

.hero-title {
    text-align: center;
    font-size: 64px;
    color: #fff;
}

.hero-subtitle {
    text-align: center;
    color: #fff;
}
.hero-button-holder {
padding-top: 300px;
}

.hero-button {
    position: sticky;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
    padding: 10px 30px;
    color: #000;
    border-radius: 10px;
    width: 200px;
    left: calc(50% - 80px);
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease, left .4s ease-in;
    transition-delay: .3s;

}

.hero-button.animation-button {
    opacity: 1;
    left: calc(50% - 85px);
}


.hero-image-full {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.home-overlay {
    justify-content: flex-end;
}

.home-overlay .hero-heading {
    opacity: 1;
    margin: 0 100px;
}

.home-overlay .hero-title {
    font-size: 32px;
}
.home-overlay .hero-subtitle {
    margin-top: 20px;
    line-height: 1.5;
}
.home-overlay .hero-button-holder {
    color: #fff;
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}

.home-overlay .material-symbols-outlined {
    font-size: 36px;
    animation: scrollDown 2s ease-in infinite;
}


/*******************/
/* GALLERY OVERLAY */
/*******************/


footer {
    display: flex;
    justify-content: center;
}
.tumbnail {
    --scale: 1;
    position: fixed;
    bottom: 20px;
}

.tumbnail img {
    opacity: 0.5;
    transition: all 0.2s ease-out;
    cursor: pointer;
    height: calc(3.5rem * var(--scale));
    padding: 0 .5rem;
    position: relative;
    top: calc((3.5rem * var(--scale) - 3.5rem) / 2 * -1);
}

.tumbnail img:hover {
    opacity: 1;
} 



/*******************/
/* ANIMATIONS      */
/*******************/

.animation-away {
    opacity: 0 !important;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(8px);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(8px);
    }
    35% {
        transform: translateY(5px);
    }
    40% {
        transform: translateY(8px);
    }
    80% {
        transform: translateY(8px);
    }
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 900px)
  and (orientation: portrait) { 

    * {
        scroll-behavior: smooth;
        scroll-snap-type: unset;
    }

    header {
        display: none;
    }

    .logo img {
        position: fixed;
        height: 100px;
        left: calc(50% - 77px);
        top: 0;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: rgba(0,0,0,0.4);
        backdrop-filter: blur(20px);
    }

    .hero-heading {
        margin: 0 20px !important;
        padding-top: 100px;
    }
    .hero-button-holder {
        padding-top: 200px;
    }

}

